.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
target/
.project
.jar
*node/

logs/

.externalToolBuilders/


*.launch
.DS_Store

*.pydevproject


.cproject


.factorypath


.buildpath
/build/
*node_modules/
